<br>
<br>
<div [@fadeInAnimation] *ngIf="amountLoaded && guestsLoaded">
    <div class="success-checkmark">
        <div class="check-icon">
            <span class="icon-line line-tip"></span>
            <span class="icon-line line-long"></span>
            <div class="icon-circle"></div>
            <div class="icon-fix"></div>
        </div>
    </div>
    <h3 style="color: #305468; text-align: center;"> Payment Accepted </h3>
    <br>
    <br>

    <div style="text-align: center;" class="row">
        <div class="column">
            <div class="pie animate" style="--p:100;--c:#305468">{{amount.amount}} {{amount.currencyName}}</div>
            <p style="text-align: center;">Total amount</p>
        </div>
        <div class="column">
            <div class="pie animate"
                 style="--p:{{ leftToPayRatio }};--c:#305468">{{amount.leftToPay}} {{amount.currencyName}}</div>
            <p style="text-align: center;">Left to pay</p>
        </div>
        <div class="column">
            <div class="pie animate"
                 style="--p:{{ youPaidRation }};--c:#305468">{{youPaidAmount}} {{amount.currencyName}}</div>
            <p style="text-align: center;">You Paid</p>
        </div>
    </div>

    <br>
    <h4 style="text-align: left; margin-left: 30px; color: #305468">History:</h4>

    <div>
        <ul *ngFor="let guest of guests">
            <li>
                <p style="display:inline-block">{{ guest.name }}</p>
                <p style="display:inline-block; float: right; margin-right: 30px">{{ guest.amount }} {{ guest.currency }}</p>
            </li>
            <hr>
        </ul>
    </div>

    <div id="main-content" class="container" align="center">
        <button id="payOnTerminal" style="text-align: center;" type="submit" class="btn2" (click)="onPayAgain()">Pay
            again
        </button>
    </div>
    <br>
    <br>
    <!--<button id="payOnTerminal" style="text-align: center; " type="submit" class="btn2" [disabled]="amountForm.invalid" (click)="onPayOnTerminal()">Pay by card on terminal</button>-->

</div>

<div *ngIf="!amountLoaded && !guestsLoaded" class="loading-container">
    <button class="loader"></button>
</div>

