<div *ngIf="guest.accepted; then paymentSuccessful else waitingForPayment"></div>

<ng-template #waitingForPayment>
    <div [@fadeInAnimation] class="container">
        <div>
            <button class="loader"></button>
        </div>
        <h4>Waiting for payment.<br>Waiter confirming your request on terminal.</h4>

        <button id="payInCash" type="submit" class="btn2" (click)="cancelPayment()">
            Cancel Payment
        </button>
    </div>

</ng-template>

<ng-template #paymentSuccessful>
    <div [@fadeInAnimation] class="container">
        <h4>Payment successful</h4>
    </div>
</ng-template>
