<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<body>
<div id="main-content" class="container" align="center">

    <div class="wrapper" >
        <p></p>
        <div class="form-group">
            <h1 id="total_amount" style="color: #305468">{{ amount.amount }} {{ amount.currencyName }}</h1>
        </div>
        <form [formGroup]="formGroup">
            <mat-form-field style="width: 100%;">
                <input matInput placeholder="Name" formControlName="nameForm">
                <mat-hint align="start">Please enter your name</mat-hint>
                <mat-error *ngIf="nameForm.invalid && nameForm.touched">
                    Name cannot be empty
                </mat-error>
            </mat-form-field>
            <br>
            <mat-form-field style="width: 100%;">
                <input type="number" step=".01" matInput placeholder="Amount" formControlName="amountForm">
                <mat-hint align="start">Please enter amount (example: 21.00, 34.98)</mat-hint>
                <mat-error *ngIf="amountForm.invalid && amountForm.touched">
                    Wrong amount or exceeded maximum amount
                </mat-error>
            </mat-form-field>
        </form>
        <button id="send" class="btn btn-default" type="submit" [disabled]="amountForm.invalid || nameForm.invalid" (click)="onPay()"> Pay</button>

    </div>
    <ng-template #loadingAmount>
        <mat-spinner></mat-spinner>
    </ng-template>
</div>
</body>
</html>
